.disable {
    color: rgb(197, 197, 197);
    cursor: default;
}

.enable {
    cursor: pointer;
}

i {
    margin: 0 5px;
}

i.fa-apple-alt {
    font-size: 26px;
}

i.fa-buromobelexperte {
    font-size: 25px;
} 

i.fa-apple {
    font-size: 30px;
}